img {
    max-width: 100%;
}

li {
    list-style-type: none;

}

/* DEBUG RULE */

.min-height-120 {
    min-height: 120px;
}

.mr-position-fix-0px {
    position: fixed;
    top: 0px;
}





/* COLOR */

.bg-grey {
    background-color: rgb(229,229,229)!important;
}


.gold {
    color:rgb(255,143,0) ;
}


.bg-blue-linear {
    background: linear-gradient(to top, #0E263C 30%, #12293E 70%)

}

.bg-blue {
    background-color: rgb(27,114,232);
}


.mc-bg-transparent {
    background-color: transparent!important;
}

/* SIDEBAR */


.sidebar {
    height: 100vh;
    z-index: 999;
  }



a.btn.list-group-item:hover {
    background-color: rgb(190, 190, 190)!important;
    cursor: pointer;
}



