img {
    max-width: 100%;
}

li {
    list-style-type: none;

}





.bg-grey {
    background-color: rgb(229,229,229)!important;
}


.gold {
    color:rgb(255,143,0) ;
}


.bg-blue-linear {
    background: linear-gradient(to top, #0E263C 30%, #12293E 70%)

}

.mc-bg-transparent {
    background-color: transparent!important;
}


.sidebar {
    height: 100vh;
    z-index: 999;
  }


a.btn.list-group-item:hover {
    background-color: rgb(190, 190, 190)!important;
    cursor: pointer;
}



